<app-header-top></app-header-top>
<div class="w-75 mx-auto mb-3 mt-6 ">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-xl-10">
      <div class="card shadow-custom">
        <div class="row g-0">
          <div class="col-md-6 col-lg-5 d-none d-md-block gradient">
            <div class="d-flex align-items-center justify-content-center h-100">
              <img src="./assets/logo/anviam_logo.png" alt="" class="w-75">
            </div>
          </div>
          <div class="col-md-6 col-lg-7 d-flex align-items-center">
            <div class="card-body p-4 p-lg-5 text-black">
              <form [formGroup]="SignUpForm" (ngSubmit)="onSubmit()" class="mx-1 mx-md-4">
                <div class="d-flex flex-row align-items-center mb-4">
                  <div class="form-outline flex-fill mb-0">
                    <input type="text" class="form-control" placeholder="First Name" formControlName="firstname" />
                    <span class="text-danger error_text ms-1 "
                      *ngIf="submitted && SignUpForm.get('firstname')?.errors?.['required']">Enter First Name</span>
                    <span class="text-danger error_text ms-1"
                      *ngIf="SignUpForm.get('firstname')?.errors?.['whitespace']">Remove Whitespace!</span>
                  </div>

                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <div class="form-outline flex-fill mb-0">
                    <input type="text" class="form-control" placeholder="Last Name" formControlName="lastname" />
                    <span class="text-danger error_text ms-1"
                      *ngIf="submitted && SignUpForm.get('lastname')?.errors?.['required']">Enter Last Name</span>
                    <span class="text-danger error_text ms-1"
                      *ngIf="SignUpForm.get('lastname')?.errors?.['whitespace']">Remove Whitespace!</span>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <div class="form-outline flex-fill mb-0">
                    <input type="email" id="form3Example3c" class="form-control" placeholder="Email Address"
                      formControlName="email" />
                    <span class="text-danger error_text ms-1"
                      *ngIf="submitted && SignUpForm.get('email')?.errors?.['required']">Enter
                      Email Address</span>
                    <span class="text-danger error_text ms-1"
                      *ngIf="submitted && SignUpForm.get('email')?.errors?.['pattern'] ">Enter
                      Valid Email Address</span>
                    <span class="text-danger error_text ms-1"
                      *ngIf="SignUpForm.get('email')?.errors?.['whitespace']">Remove
                      Whitespace!</span>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <div class="form-outline flex-fill mb-0">
                    <input type="password" id="form3Example4c" class="form-control" placeholder="Password"
                      formControlName="password" />
                    <span class="text-danger error_text ms-1"
                      *ngIf="submitted && SignUpForm.get('password')?.errors?.['required']">Enter Password</span>
                    <span class="text-danger error_text ms-1"
                      *ngIf="submitted && SignUpForm.get('password')?.errors?.['minlength']">Minimum 6 Character
                      Password
                      required
                    </span>
                    <span class="text-danger error_text ms-1"
                      *ngIf="SignUpForm.get('password')?.errors?.['whitespace']">Remove Whitespace!</span>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <div class="form-outline flex-fill mb-0">
                    <input type="password" id="form3Example4cd" class="form-control" placeholder="Confirm Password"
                      formControlName="confirm_password" />
                    <span class="text-danger error_text ms-1"
                      *ngIf="SignUpForm.get('confirm_password')?.errors?.['whitespace']">Remove Whitespace!</span>
                    <span class="text-danger error_text ms-1"
                      *ngIf="submitted && SignUpForm.get('confirm_password')?.errors?.['required']">Please confirm your
                      password!</span>
                    <span class="text-danger error_text ms-1"
                      *ngIf="submitted && SignUpForm.get('confirm_password')?.errors?.['confirmedValidator']">Password
                      not
                      same!</span>
                  </div>
                </div>

                <div class="d-flex justify-content-start w-100 mb-3 mb-lg-4">
                  <button mat-raised-button color="warn" type="submit" class="w-100">Sign Up</button>
                </div>
                <div class="d-flex align-items-center justify-content-center pb-4">
                  <p class="mb-0 me-2">Already have an account</p>
                  <button type="button" class="btn btn-outline-danger" routerLink="/auth/login">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>