<table class="table overflowDesign">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Employee Name</th>
      <th scope="col">Time In</th>
      <th scope="col">Time Out</th>
      <th scope="col">Total Time</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let items of timeCount">
      <th scope="row">{{items.id}}</th>
      <td>{{items.Name}}</td>
      <td>{{items.timeIn | date:'medium'}}</td>
      <td>{{items.timeOut | date:'medium'}}</td>
      <td>{{items.totalHour}} hr {{items.totalMin}} min</td>
      <th>
        <button (click)="viewDetails()" class="btn btn-success"><i class="bi bi-eye"></i></button>
      </th>
    </tr>
  </tbody>
</table>