
<div id="carousel" class="carousel carousel-dark slide mt-5 mb-3" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner w-100" style="height: 30rem;">
        <ng-container *ngFor="let items of carouselData">
            <div *ngIf="items?.image" class="carousel-item designDiv" data-bs-interval="5000">
                <img src="{{items.birthday_Event}}" class="d-block  w-100" alt="...">
            </div>
            <div *ngIf="items?.video" class="carousel-item active designDiv" data-bs-interval="5000">
                <video controls class="myvid w-100 img-fluid" id="player2">
                    <source src="{{items.birthday_Event}}" type="video/mp4">
                </video>
            </div>
        </ng-container>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>