.container {
  position: relative;
  width: 100%;
}
.main {
  margin-left: 240px;
  transition: margin-left 0.3s ease-in-out;
}
.active-container {
  margin-left: 0 !important;
  transition: margin-left 0.3s ease-in-out;
}
.logo {
  width: 20%;
}
