
<div [id]="(carouselData && (carouselData?.id !=null || carouselData?.id !=undefined ))? carouselData?.id : ''" class="carousel slide mb-4" data-bs-ride="true">
    <h2 class="text-center">{{carouselData?.id === 'birthdayEvent' ? 'Upcoming Birthday': carouselData?.id ===
        'anniversaryEvent'? 'Upcoming Anniversary' : carouselData?.id === 'celebrationEvent' ? " Upcoming Celebration" :
        "Upcoming Event"}}</h2>
    <div class="carousel-indicators">
        <button type="button" [attr.data-bs-target]="'#'+carouselData?.id" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" [attr.data-bs-target]="'#'+carouselData?.id" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" [attr.data-bs-target]="'#'+carouselData?.id" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <ng-container *ngFor="let item of carouselData?.data">
            <div class="carousel-item active" data-bs-interval="5000">
                <img [src]="item" class="d-block w-100">
            </div>
        </ng-container>
    </div>
    <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#'+carouselData?.id"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#'+carouselData?.id"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

