<app-header-top></app-header-top>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true" style="margin-top:4.4rem;">
    <div class="carousel-inner w-100 card designCard" >
        <app-carousel [carouselData]="birthday_Event"></app-carousel>
    </div>
</div>
<div>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card designCard">
                    <app-carousel [carouselData]="anniversary_Event"></app-carousel>
                </div>
            </div>
            <div class="col-md-6" style="background-color:#e2eef9;">
                <!-- <button (click)="toggleWeekends()">toggle weekends</button> -->
                <full-calendar #calendar [options]="calendarOptions"></full-calendar>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-carousel [carouselData]="month_Event"></app-carousel>
        </div>
        <div class="col-md-6">
            <app-carousel [carouselData]="celebration_Event"></app-carousel>
        </div>
    </div>
</div>