.backgroundColor {
  background-color: #004767;
  a {
    color: white;
    text-decoration: none;
  }
}

.designDiv img {
  object-fit: cover;
  height: 30rem;
}

.designDiv video {
  height: 30rem;
}
