<div class="container-fluid">
    <div class="row">
        <div class="col-4 my-4">
            <app-profile-info [data]="user" [userDetails]="user"></app-profile-info>
        </div>
        <div class="col-8 my-4 d-flex ">
            <div class="p-3">
                <p class="">Code <strong>AS160</strong> </p>
                <p class="">Born <strong>02 Oct 1998</strong> </p>
                <p class="">Gender <strong>Male</strong></p>

            </div>
            <div class="p-3">
                <p class="">Status <strong>Full Time</strong></p>
                <p class="">Age <strong>24 Years</strong></p>
                <p class="">Employed for <strong>10 Months</strong></p>

            </div>
            <div class="p-3">
                <p class="">Department <strong>Angular Department</strong></p>
                <p class="">Location <strong>Quark Artrium</strong></p>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid mb-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header ">Featured</h5>
                <div class="card-body">
                    <div class="row g-4">
                        <div class="col-md-3 col-sm-4">
                            <div class="row align-items-end borderDesign">
                                <div class="col-3 designDiv">
                                    <img src="assets/icons/android-chrome-192x192.png" class="designImg" alt="logo">
                                </div>
                                <div class="col-9">
                                    <h6>Request Time</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="row align-items-end borderDesign">
                                <div class="col-3 designDiv">
                                    <img src="assets/icons/android-chrome-192x192.png" class="designImg" alt="logo">
                                </div>
                                <div class="col-9">
                                    <h6>Company Directive</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="row align-items-end borderDesign">
                                <div class="col-3 designDiv">
                                    <img src="assets/icons/android-chrome-192x192.png" class="designImg" alt="logo">
                                </div>
                                <div class="col-9">
                                    <h6>My Profile</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="row align-items-end borderDesign">
                                <div class="col-3 designDiv">
                                    <img src="assets/icons/android-chrome-192x192.png" class="designImg" alt="logo">
                                </div>
                                <div class="col-9">
                                    <h6>Complete Checklist</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="row align-items-end borderDesign">
                                <div class="col-3 designDiv">
                                    <img src="assets/icons/android-chrome-192x192.png" class="designImg" alt="logo">
                                </div>
                                <div class="col-9">
                                    <h6>Fill in Timesheet</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="row align-items-end borderDesign">
                                <div class="col-3 designDiv">
                                    <img src="assets/icons/android-chrome-192x192.png" class="designImg" alt="logo">
                                </div>
                                <div class="col-9">
                                    <h6>Company Chart</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="row align-items-end borderDesign">
                                <div class="col-3 designDiv">
                                    <img src="assets/icons/android-chrome-192x192.png" class="designImg" alt="logo">
                                </div>
                                <div class="col-9">
                                    <h6>News</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="row align-items-end borderDesign">
                                <div class="col-3 designDiv">
                                    <img src="assets/icons/android-chrome-192x192.png" class="designImg" alt="logo">
                                </div>
                                <div class="col-9">
                                    <h6>File an Explore</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mb-4">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <h5 class="card-header">Active Timesheets</h5>
                <div class="card-body">
                    <p class="card-title">Special title treatment</p>
                    <div class="d-flex justify-content-between designBackGround">
                        <p>Monday,24 Feb to 01 Mar 2022</p>
                        <button class="btn btn-light">Update</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <h5 class="card-header">You Report To</h5>
                <div class="card-body d-flex designImage">
                    <img src="assets/icons/android-chrome-192x192.png" alt="">
                    <p class="card-title">Special title treatment</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <h5 class="card-header">Job Report To</h5>
                <div class="card-body text-center">
                    <p class="card-title">Special title treatment</p>
                    <p>there are 3 new job opening are listed on the job portal</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mb-4">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <h5 class="card-header">Active Checklists</h5>
                <div class="card-body">
                    <p class="card-title">Special title treatment</p>
                    <div class="d-flex justify-content-between designBackGround">
                        <p>New Full Employee</p>
                        <button class="btn btn-light">Update</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <h5 class="card-header">Active Checklists</h5>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <td scope="col">#</td>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry the Bird</td>
                                <td>shubham</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <h5 class="card-header">Active Checklists</h5>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <td scope="col">#</td>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry the Bird</td>
                                <td>shubham</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <h5 class="card-header">Calendar</h5>
                <div class="card-body">
                    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
                    
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card">
                <h5 class="card-header">Active Checklists</h5>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <td scope="col">#</td>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry the Bird</td>
                                <td>shubham</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <h5 class="card-header">Active Checklists</h5>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <td scope="col">#</td>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry the Bird</td>
                                <td>shubham</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>