:host ::ng-deep.username h6 {
  color: var(--dark-dark_1) !important;
}


.designImg{
  width: 100%;
  height: 100%;
}

.designDiv{
  width: 70px;
}

.borderDesign{
  border: 1px solid #00000029;
  border-radius: 12px;
  padding: 12px;
  margin: 0 0;
}

.designBackGround{
  background-color: #e7e7e7;
  padding: 7px;
}

.designImage img{
  width: 10%;
  margin-right: 20px;
}

::ng-deep .fc .fc-toolbar-title{
  font-size: 22px !important;
}

::ng-deep .fc .fc-button:not(:disabled){
  text-transform: capitalize;
}

::ng-deep .fc .fc-button-primary:disabled{
  text-transform: capitalize;
}

.overflowDesign{
  overflow: auto;
}
@media only screen and (max-width: 720px) {
  ::ng-deep .fc .fc-toolbar-title{
    font-size: 14px !important;
  }
  ::ng-deep .fc{
    font-size: 11px !important;
  } 
}

@media only screen and (max-width: 576px) {
  ::ng-deep .fc .fc-toolbar-title{
    font-size: 12px !important;
  }
  ::ng-deep .fc{
    font-size: 10px !important;
  } 
}

@media only screen and (max-width: 425px) {
  .buttonDesign{
    font-size: 10px;
  }
}