<div class="container-fluid">
    <div class="row">
        <div class="col-4 my-4">
            <app-profile-info [data]="user" [userDetails]="user"></app-profile-info>
        </div>
        <div class="col-8 my-4 d-flex ">
            <div class="p-3">
                <p class="">Code <strong>AS160</strong> </p>
                <p class="">Born <strong>02 Oct 1998</strong> </p>
                <p class="">Gender <strong>Male</strong></p>

            </div>
            <div class="p-3">
                <p class="">Status <strong>Full Time</strong></p>
                <p class="">Age <strong>38 Years</strong></p>
                <p class="">Employed for <strong>10 Months</strong></p>

            </div>
            <div class="p-3">
                <p class="">Department <strong>Angular Department</strong></p>
                <p class="">Location <strong>Quark Artrium</strong></p>

            </div>
        </div>
    </div>
</div>