<p>dashboard works!</p> 
<h1>dashboard works!</h1>
<h2>dashboard works!</h2>
<h3>dashboard works!</h3>
<h4>dashboard works!</h4>
<h5>dashboard works!</h5>
<h6>dashboard works!</h6>

<p class="p1">dashboard works!</p>
<p class="p2">dashboard works!</p>
<p class="p3">dashboard works!</p>
<p class="p4">dashboard works!</p>
<p class="p5">dashboard works!</p>

<button class="btn-lg btn-primary">Rebillion</button>
<button class="btn-md btn-secondary">Rebillion</button>
<button class="btn-sm ">Rebillion</button>

<!-- <nav class="navbar top-navbar navbar-light bg-light px-5">
    <a class="btn border-0" id="menu-btn"><i class="bi bi-list"></i></a>
</nav> -->