.form-control,
.input-group-text {
  border-radius: 0px !important;
}
.gradient {
  background: -webkit-linear-gradient(to left, #859398, #283048);
  background: linear-gradient(to left, #859398, #283048);
}
@media (max-width: "576px") {
  .login-main-container {
    width: 90% !important;
  }
}
