@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "./assets/custom_css/_typography.scss";
@import "./assets/custom_css/_buttons.scss";
@import "./assets/custom_css/_theme.scss";
@import "./assets/custom_css/_color-scheme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}

.mt-6 {
  margin-top: 6rem !important;
}
.cursor-pointer {
  cursor: pointer;
}
